<section class="sobre-section">
    <h2>Sobre a Danki Code</h2>
</section>

<section class="visao-empresa">
    <div class="container">
        <div class="nossa-missao">
            <h2>Nossa Missão</h2>
            <p>A Danki Code tem como missão utilizar todo o poder da internet e tecnologia para levar aos seus alunos os melhores cursos de programação e marketing digital. Nosso foco é transformar a vida dos alunos através do conhecimento transmitido em nossos cursos, podendo os estudantes, utilizarem esse conhecimento para o mercado de trabalho, negócio próprio ou até mesmo hobby.</p>
        </div>

        <div class="nossa-visao">
            <h2>Nossa Visão</h2>
            <p>Em 2017 quando foi lançado o primeiro curso da Danki Code (Curso Front-End Completo), o objetivo era realmente entregar um material diferenciado e completo. Anos depois, através do pacote full-stack tornou-se o curso mais completo, mais vendido e mais bem avaliado do mercado digital.</p>
            <p>Além disso, a Danki Code aplicou conhecimento e dedicação em todos os cursos lançados e o fará em todos os futuros lançamentos. Nosso objetivo é deixar os cursos super completos para que o aluno não precise investir nada mais.</p>
            <p>Além de liderar o segmento para Programação Full-Stack, a Danki também lidera no segmento de Desenvolvimento de Jogos, através do Curso Desenvolvimento de Games.</p>
        </div>
    </div>
</section>

<section class="valores">
    <div class="container">
        <h2>Valores</h2>
        <ul>
            <li>Ética</li>
            <li>Esforço</li>
            <li>Trabalho em Equipe</li>
            <li>Comunidade Unida</li>
            <li>Respeito</li>
            <li>Confiança</li>
            <li>Integridade</li>
        </ul>
    </div>
</section>

<section class="equipe">
    <h2>Quem faz a Danki acontecer</h2>

    <div class="container">
        <div class="pessoa-single">
            <img src="http://127.0.0.1:5500/DankiCode/public/img/user-invalido.png" alt="Imagem da pessoa" title="Rodrigo">
            <div class="content">
                <h1 class="nome">Rodrigo Da Silva Brito</h1>
                <ul class="area">
                    <li>Desenvolvedor Web.</li>
                    <li>Desenvolvedor Web.</li>
                    <li>Desenvolvedor Web.</li>
                </ul>
            </div>
        </div> <!-- perfil pessoa -->

        <div class="pessoa-single">
            <img src="http://127.0.0.1:5500/DankiCode/public/img/user-invalido.png" alt="Imagem da pessoa" title="Rodrigo">
            <div class="content">
                <h1 class="nome">Rodrigo Da Silva Brito</h1>
                <ul class="area">
                    <li>Desenvolvedor Web.</li>
                    <li>Desenvolvedor Web.</li>
                    <li>Desenvolvedor Web.</li>
                </ul>
            </div>
        </div> <!-- perfil pessoa -->

        <div class="pessoa-single">
            <img src="http://127.0.0.1:5500/DankiCode/public/img/user-invalido.png" alt="Imagem da pessoa" title="Rodrigo">
            <div class="content">
                <h1 class="nome">Rodrigo Da Silva Brito</h1>
                <ul class="area">
                    <li>Desenvolvedor Web.</li>
                    <li>Desenvolvedor Web.</li>
                    <li>Desenvolvedor Web.</li>
                </ul>
            </div>
        </div> <!-- perfil pessoa -->

        <div class="pessoa-single">
            <img src="http://127.0.0.1:5500/DankiCode/public/img/user-invalido.png" alt="Imagem da pessoa" title="Rodrigo">
            <div class="content">
                <h1 class="nome">Rodrigo Da Silva Brito</h1>
                <ul class="area">
                    <li>Desenvolvedor Web.</li>
                    <li>Desenvolvedor Web.</li>
                    <li>Desenvolvedor Web.</li>
                </ul>
            </div>
        </div> <!-- perfil pessoa -->

        <div class="pessoa-single">
            <img src="http://127.0.0.1:5500/DankiCode/public/img/user-invalido.png" alt="Imagem da pessoa" title="Rodrigo">
            <div class="content">
                <h1 class="nome">Rodrigo Da Silva Brito</h1>
                <ul class="area">
                    <li>Desenvolvedor Web.</li>
                    <li>Desenvolvedor Web.</li>
                    <li>Desenvolvedor Web.</li>
                </ul>
            </div>
        </div> <!-- perfil pessoa -->

        <div class="pessoa-single">
            <img src="http://127.0.0.1:5500/DankiCode/public/img/user-invalido.png" alt="Imagem da pessoa" title="Rodrigo">
            <div class="content">
                <h1 class="nome">Rodrigo Da Silva Brito</h1>
                <ul class="area">
                    <li>Desenvolvedor Web.</li>
                    <li>Desenvolvedor Web.</li>
                    <li>Desenvolvedor Web.</li>
                </ul>
            </div>
        </div> <!-- perfil pessoa -->
        <div class="pessoa-single">
            <img src="http://127.0.0.1:5500/DankiCode/public/img/user-invalido.png" alt="Imagem da pessoa" title="Rodrigo">
            <div class="content">
                <h1 class="nome">Rodrigo Da Silva Brito</h1>
                <ul class="area">
                    <li>Desenvolvedor Web.</li>
                    <li>Desenvolvedor Web.</li>
                    <li>Desenvolvedor Web.</li>
                </ul>
            </div>
        </div> <!-- perfil pessoa -->

        <div class="pessoa-single">
            <img src="http://127.0.0.1:5500/DankiCode/public/img/user-invalido.png" alt="Imagem da pessoa" title="Rodrigo">
            <div class="content">
                <h1 class="nome">Rodrigo Da Silva Brito</h1>
                <ul class="area">
                    <li>Desenvolvedor Web.</li>
                    <li>Desenvolvedor Web.</li>
                    <li>Desenvolvedor Web.</li>
                </ul>
            </div>
        </div> <!-- perfil pessoa -->

        <div class="pessoa-single">
            <img src="http://127.0.0.1:5500/DankiCode/public/img/user-invalido.png" alt="Imagem da pessoa" title="Rodrigo">
            <div class="content">
                <h1 class="nome">Rodrigo Da Silva Brito</h1>
                <ul class="area">
                    <li>Desenvolvedor Web.</li>
                    <li>Desenvolvedor Web.</li>
                    <li>Desenvolvedor Web.</li>
                </ul>
            </div>
        </div> <!-- perfil pessoa -->

        <div class="pessoa-single">
            <img src="http://127.0.0.1:5500/DankiCode/public/img/user-invalido.png" alt="Imagem da pessoa" title="Rodrigo">
            <div class="content">
                <h1 class="nome">Rodrigo Da Silva Brito</h1>
                <ul class="area">
                    <li>Desenvolvedor Web.</li>
                    <li>Desenvolvedor Web.</li>
                    <li>Desenvolvedor Web.</li>
                </ul>
            </div>
        </div> <!-- perfil pessoa -->

        <div class="pessoa-single">
            <img src="http://127.0.0.1:5500/DankiCode/public/img/user-invalido.png" alt="Imagem da pessoa" title="Rodrigo">
            <div class="content">
                <h1 class="nome">Rodrigo Da Silva Brito</h1>
                <ul class="area">
                    <li>Desenvolvedor Web.</li>
                    <li>Desenvolvedor Web.</li>
                    <li>Desenvolvedor Web.</li>
                </ul>
            </div>
        </div> <!-- perfil pessoa -->

        <div class="pessoa-single">
            <img src="http://127.0.0.1:5500/DankiCode/public/img/user-invalido.png" alt="Imagem da pessoa" title="Rodrigo">
            <div class="content">
                <h1 class="nome">Rodrigo Da Silva Brito</h1>
                <ul class="area">
                    <li>Desenvolvedor Web.</li>
                    <li>Desenvolvedor Web.</li>
                    <li>Desenvolvedor Web.</li>
                </ul>
            </div>
        </div> <!-- perfil pessoa -->

        <div class="pessoa-single">
            <img src="http://127.0.0.1:5500/DankiCode/public/img/user-invalido.png" alt="Imagem da pessoa" title="Rodrigo">
            <div class="content">
                <h1 class="nome">Rodrigo Da Silva Brito</h1>
                <ul class="area">
                    <li>Desenvolvedor Web.</li>
                    <li>Desenvolvedor Web.</li>
                    <li>Desenvolvedor Web.</li>
                </ul>
            </div>
        </div> <!-- perfil pessoa -->

        <div class="pessoa-single">
            <img src="http://127.0.0.1:5500/DankiCode/public/img/user-invalido.png" alt="Imagem da pessoa" title="Rodrigo">
            <div class="content">
                <h1>Rodrigo Da Silva Brito</h1>
                <ul>
                    <li>Desenvolvedor Web.</li>
                    <li>Desenvolvedor Web.</li>
                    <li>Desenvolvedor Web.</li>
                </ul>
            </div>
        </div> <!-- perfil pessoa -->

        <div class="pessoa-single">
            <img src="http://127.0.0.1:5500/DankiCode/public/img/user-invalido.png" alt="Imagem da pessoa" title="Rodrigo">
            <div class="content">
                <h1 class="nome">Rodrigo Da Silva Brito</h1>
                <ul class="area">
                    <li>Desenvolvedor Web.</li>
                    <li>Desenvolvedor Web.</li>
                    <li>Desenvolvedor Web.</li>
                </ul>
            </div>
        </div> <!-- perfil pessoa -->
    </div>
</section>

<section class="conquistas">
    <div class="container">
        <h2>Nossas Conquistas</h2>
        <ul>
            <li>30</li>
            <li>150.000</li>
            <li>999.999</li>
            <li>4.000</li>
        </ul>
    </div>
</section>