<section class="banner js-banner">
    <div class="container">
        <div data-banner="escreva" class="matriculise">
            <p>Aprenda sobre</p>

            <h1>HTML</h1>

            <p>Em Cursos Completos</p>

            <div class="btn-banner">
                <a href="#">Matriculi-se Gratis</a>
            </div>
        </div>
        <div class="banner-overflow"></div>
    </div>
</section>

<section class="aba-fedback " data-animation="scroll">
    <div class="container">
        <div class="fed-single">
            <div class="fed-img"></div>

            <p>Aprenda com quem está no mercado</p>
        </div>

        <div class="fed-single">
            <div class="fed-img"></div>

            <p>Aprenda com quem está no mercado</p>
        </div>

        <div class="fed-single">
            <div class="fed-img"></div>

            <p>Aprenda com quem está no mercado</p>
        </div>

        <div class="fed-single">
            <div class="fed-img"></div>

            <p>Aprenda com quem está no mercado</p>
        </div>

        <div class="fed-single">
            <div class="fed-img"></div>

            <p>Aprenda com quem está no mercado</p>
        </div>

        <div class="fed-single">
            <div class="fed-img"></div>

            <p>Aprenda com quem está no mercado</p>
        </div>

        <div class="fed-single">
            <div class="fed-img"></div>

            <p>Aprenda com quem está no mercado</p>
        </div>

        <div class="fed-single">
            <div class="fed-img"></div>

            <p>Aprenda com quem está no mercado</p>
        </div>
    </div>
</section>

<section class="barra-cursos">
    <div class="container">
        <h2>Os melhores cursos para você</h2>
        <p>Torne-se um desenvolvedor completo e aprenda com quem está no mercado</p>
    </div> 
</section>

<section class="cursos " data-cursos="container" data-animation="scroll">
    <div class="container">
       
    </div>
</section>

<section class="depoimentos">
    <div class="container">
        <div class="depoimento-single">
            <p>“Surpreendentemente estimulante, profundo e completo. Um dos melhores cursos que já fiz online! Qualidade impressionante, tanto na didática como a qualidade dos vídeos.”</p>

            <div class="estrelas">
                <img src="http://127.0.0.1:5500/DankiCode/public/img/star.png" alt="estrelas" title="Estrelas">
                <img src="http://127.0.0.1:5500/DankiCode/public/img/star.png" alt="estrelas" title="Estrelas">
                <img src="http://127.0.0.1:5500/DankiCode/public/img/star.png" alt="estrelas" title="Estrelas">
            </div>

            <h3>Lucas Santana</h3>
        </div>

        <div class="depoimento-single">
            <p>"Foi a melhor forma de estudo que encontrei, simples de alta qualidade, com cursos objetivos, tem ajudado muito minha carreira. Os cursos são simples e não simplórios."</p>

            <div class="estrelas">
                <img src="http://127.0.0.1:5500/DankiCode/public/img/star.png" alt="estrelas" title="Estrelas">
                <img src="http://127.0.0.1:5500/DankiCode/public/img/star.png" alt="estrelas" title="Estrelas">
                <img src="http://127.0.0.1:5500/DankiCode/public/img/star.png" alt="estrelas" title="Estrelas">
            </div>

            <h3>Rodrigo Yurei - Agência Spark</h3>
        </div>

        <div class="depoimento-single">
            <p>"Um profissional ímpar, com uma visibilidade incrível de linguagens e uma sensibilidade importante aos detalhes de usabilidade, interface e experiência do usuário. Um excelente parceiro."</p>

            <div class="estrelas">
                <img src="http://127.0.0.1:5500/DankiCode/public/img/star.png" alt="estrelas" title="Estrelas">
                <img src="http://127.0.0.1:5500/DankiCode/public/img/star.png" alt="estrelas" title="Estrelas">
                <img src="http://127.0.0.1:5500/DankiCode/public/img/star.png" alt="estrelas" title="Estrelas">
            </div>

            <h3>Fábio Freitas</h3>
        </div>
    </div>
</section>

<section class="area-vip">
    <div class="container">
        <div class="vip">
            <form>
                <div class="input-box">
                    <label for="vip">Deseja entrar na nossa lista VIP e Assistir Aulas Grátis?</label>
                    <input type="email" placeholder="Qual é o seu melhor email???" id="vip">
                </div>

                <div class="input-box button">
                    <label>Enviar form</label>
                    <input type="submit" value="Receber acesso">
                </div>
            </form>
        </div>
    </div>
</section>

<secrion class="depoimentos-videos " data-animation="scroll">
    <div class="container">
        <div class="video-single">
            <iframe width="400" height="240" src="https://www.youtube.com/embed/ELBVeRDflV0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="video-single">
            <iframe width="400" height="240" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="video-single">
            <iframe width="400" height="240" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="video-single">
            <iframe width="400" height="240" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="video-single">
            <iframe width="400" height="240" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="video-single">
            <iframe width="400" height="240" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="video-single">
            <iframe width="400" height="240" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="video-single">
            <iframe width="400" height="240" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="video-single">
            <iframe width="400" height="240" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</secrion>

